In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mtcars (3).csv')

In [3]:
df

,Unnamed: 0,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,2,Datsun 710,NaN,4,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1.0,0.0,3.0,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0.0,0.0,NaN,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3.0,1
6,6,Duster 360,14.3,8,360.0,245.0,NaN,3.570,15.84,0.0,NaN,3.0,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,NaN,0.0,4.0,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,NaN,1.0,0.0,NaN,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1.0,NaN,4.0,4
10,10,Merc 280C,NaN,6,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,NaN,0.0,NaN,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,NaN,0.0,0.0,3.0,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0.0,NaN,3.0,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4
16,16,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4
17,17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1.0,NaN,4.0,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2
23,23,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2

In [4]:
df.tail()

,Unnamed: 0,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.9,1.0,1.0,5.0,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.5,0.0,1.0,5.0,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.5,0.0,1.0,5.0,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.6,0.0,1.0,5.0,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.6,1.0,1.0,4.0,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    32 non-null     int64
 1   vichle_names  32 non-null     object
 2   mpg           30 non-null     float64
 3   cyl           32 non-null     int64
 4   disp          32 non-null     float64
 5   hp            31 non-null     float64
 6   drat          31 non-null     float64
 7   wt            32 non-null     float64
 8   qsec          29 non-null     float64
 9   v_Shape       30 non-null     float64
 10  am            28 non-null     float64
 11  gear          29 non-null     float64
 12  carb          32 non-null     int64
dtypes: float64(9), int64(3), object(1)
memory usage: 3.4+ KB

In [6]:
df.describe()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
count,32.000000,30.000000,32.000000,32.000000,31.000000,31.000000,32.000000,29.000000,30.000000,28.000000,29.000000,32.0000
mean,15.500000,20.076667,6.187500,230.721875,147.870968,3.609032,3.217250,17.601379,0.433333,0.428571,3.724138,2.8125
std,9.380832,6.196366,1.785922,123.938694,69.363171,0.538766,0.978457,1.535459,0.504007,0.503953,0.751026,1.6152
min,0.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,7.750000,15.275000,4.000000,120.825000,96.000000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,15.500000,19.200000,6.000000,196.300000,123.000000,3.700000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,23.250000,22.475000,8.000000,326.000000,180.000000,3.920000,3.610000,18.610000,1.000000,1.000000,4.000000,4.0000
max,31.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,20.010000,1.000000,1.000000,5.000000,8.0000

In [7]:
df.isnull().sum()

Unnamed: 0      0
vichle_names    0
mpg             2
cyl             0
disp            0
hp              1
drat            1
wt              0
qsec            3
v_Shape         2
am              4
gear            3
carb            0
dtype: int64

In [8]:
df.isnull().mean()

Unnamed: 0      0.00000
vichle_names    0.00000
mpg             0.06250
cyl             0.00000
disp            0.00000
hp              0.03125
drat            0.03125
wt              0.00000
qsec            0.09375
v_Shape         0.06250
am              0.12500
gear            0.09375
carb            0.00000
dtype: float64

In [9]:
df.dtypes

Unnamed: 0        int64
vichle_names     object
mpg             float64
cyl               int64
disp            float64
hp              float64
drat            float64
wt              float64
qsec            float64
v_Shape         float64
am              float64
gear            float64
carb              int64
dtype: object

In [10]:
df.shape

(32, 13)

In [11]:
df.to_json('MtCarsJSON.json')